@model Number
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.MyNumber</h1>
<form action="/" method="post">
    <button type="submit">Hit that click Plez!!</button>
</form>
