@model WebApplication5.Models.Helloka
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colorful hellos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        @foreach (var anal in Model.hellos)
        {
            <span style="font-size:@Model.GetFontSize()px; color:rgb(@Model.GetColor(),@Model.GetColor(),@Model.GetColor());">
                @anal
            </span>
        }
    </div>
</body>
</html>