body
{
    background-color: blue;
    text-align: center;
    margin: 10% 0 0 0;
}

table.salesTable
{
    margin: auto;
    width: 600px;
    background-color: white;
    text-align: left;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

table.salesTable th
{
    background:black;
    color: white;
    text-align: left;
    padding: 0 0 0 20px;
}

table.salesTable td
{
    padding: 0 0 0 20px;
}

table.salesTable tr:nth-child(even)
{
    background:gray;
    color: lightgrey;
    text-align: left;
    padding: 0 0 0 20px;
}