body{
	background-color: #fffdf4;
    font-family: Arial;
    font-size: 32;

}

h1{
	font-weight: normal;
	font-size: 32px;
    margin: 3rem;
}

h2{
	font-weight: normal;
	font-size: 10px;
    margin: 1rem;
}

h3{
	font-weight: normal;
	font-size: 10px;
    text-align: right;
}


fieldset{
    margin: 3rem;
    width: 300px;
}

input[type="password"],
input[type="email"] {
width: 100%;
}