body{
	background-color: #fffdf4;
    font-family: Arial;
}

h1{
	font-weight: normal;
    margin: 3rem;
}

h2{
	font-weight: normal;
	font-size: 20px;
    margin: 1rem;
}


fieldset{
    margin: 3rem;
    width: 300px;
}